.head {
  width: 100%;
  display: none; }

.head-container {
  width: 900px;
  height: 80px;
  margin: 0 auto; }

.head-container_logo-box {
  float: left; }
  .head-container_logo-box .logo {
    width: 50px;
    height: 50px;
    fill: #FFF;
    -webkit-transition: 1.5s;
    transition: 1.5s; }
    .head-container_logo-box .logo:hover {
      -webkit-transform: rotate(300deg);
      transform: rotate(300deg);
      fill: #FF6347; }

.head-container_nav {
  float: right;
  padding: 0;
  list-style: none; }
  .head-container_nav .nav-item {
    display: inline-block;
    margin-left: 20px; }
    .head-container_nav .nav-item:first-child {
      margin-left: 0; }
  .head-container_nav .nav-item-link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    -webkit-transition: 0.7s;
    transition: 0.7s;
    font-family: 'Lobster', cursive; }
    .head-container_nav .nav-item-link:hover {
      color: #FF6347; }

.headhesive {
  position: fixed;
  margin-bottom: -80px;
  width: 100%;
  height: 80px;
  padding-top: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: block; }
  .headhesive .head-container {
    width: 900px;
    height: 80px;
    margin: 0 auto; }

.headhesive--stick {
  height: 50px;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.7); }
  .headhesive--stick .logo {
    width: 30px;
    height: 30px;
    fill: #FFF;
    -webkit-transition: 1s;
    transition: 1s; }
    .headhesive--stick .logo:hover {
      -webkit-transform: none;
      transform: none;
      fill: #FF6347; }
  .headhesive--stick .head-container_nav {
    margin: 5px 0 0 0; }
    .headhesive--stick .head-container_nav .nav-item-link {
      font-family: 'Lobster', cursive;
      font-weight: lighter; }

.home {
  height: 100vh;
  background: url(../img/hero.png) no-repeat 100% bottom;
  background-size: cover;
  background-attachment: fixed; }

.home-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 900px;
  height: 100vh;
  margin: 0 auto; }
  .home-container .home-container_title {
    margin: auto;
    text-align: center;
    color: #FFF; }

.title-main {
  margin: 0 0 20px 0;
  padding: 15px;
  text-transform: uppercase;
  border: 7px solid #FFF;
  border-radius: 5px;
  font-size: 40px;
  font-family: 'Poiret One', cursive;
  letter-spacing: 3px;
  text-shadow: 1px 1px 5px black, 0 0 1em #FF6347; }

.title-second {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 3px; }

.clearfix {
  content: "";
  display: table;
  clear: both; }

.about-me {
  height: 100vh;
  padding-top: 40px;
  background-color: #FAF6EC; }

.about-me-container {
  width: 900px;
  height: 100vh;
  margin: 0 auto; }

.about-me-container_title {
  font-family: 'Lobster', cursive;
  text-transform: uppercase;
  text-align: center; }

.about-me-container_title-text {
  text-align: center;
  font-size: 19px; }

.items-right-skills-title,
.items-left-education-title,
.items-left-hobby-title,
.items-left-link-title {
  text-align: center; }

.education-list-item-where {
  font-weight: bold;
  margin-bottom: 0; }

.hobby {
  text-align: center; }
  .hobby > .fa {
    margin-left: 10px; }
    .hobby > .fa:first-child {
      margin-left: 0px; }

.items-left-link-content {
  text-align: center; }
  .items-left-link-content .items-left-link-contentLink {
    margin-left: 10px;
    color: #333333;
    transition: 0.5s; }
    .items-left-link-content .items-left-link-contentLink:first-child {
      margin-left: 0px; }
    .items-left-link-content .items-left-link-contentLink:hover {
      color: #FF6347; }

.about-me-container_items-center-avatar {
  margin-top: 50%; }

.avatar-wrap {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #FF6347;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.avatar {
  width: 200px;
  height: 200px; }

@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf); }

@font-face {
  font-family: Poiret One;
  src: url(../fonts/Poiret_One/PoiretOne-Regular.ttf); }

@font-face {
  font-family: Lobster;
  src: url(../fonts/Lobster/Lobster-Regular.ttf); }

* {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif; }

.wrap {
  min-width: 1366px; }
